html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    image-rendering: optimizeSpeed;
    background-image: url("../img/zyde_lighttile.png");
    background-repeat: repeat;
}

body[dark] {
    image-rendering: optimizeSpeed;
    background-image: url("../img/zyde_darktile.png");
    background-repeat: repeat;
}

#sidebarlinks {
    margin: 0;
    padding-left: 5px;
    list-style-type: none;
}

#sidebarlinks > li  {
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
}

#sidebarlinks > b  {
    display: block;
    padding: 5px 0px;
    font-size: large;
}

#page {
    margin-top: 32px;
}

#headertitle {
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    user-select: none;
    margin-bottom: 5px;
    margin-top: auto;
}

#topfront {
    display: block;
    margin: 0 auto;
}

#front-banner {
    margin-left: 50px;
    height: 150px;
}

#mainframe {
    margin: 0 auto;
    display: flex;
    text-align: center;
    min-height: 50%;
}

#sidebar {
    text-align: left;
    padding: 5px;
    width: 25%;
    background-color: whitesmoke;

    overflow: hidden;
}

#maincontainer {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    width:75%;
}

#maincontainer > * {
    margin: 5px;
}

#maincontainer > p {
    padding-bottom: 5px;
}

#bottom {
    margin: auto;
}

#bottomcontainer {
    margin-top: 0;
    height: 50px;
}

.boxed {
    border: 1px solid black;
    box-shadow: black 3px 3px;
    margin: 5px;

    background-color: white;
}

.resizable-panel {
    width: 1000px;
}

@media screen and (max-width: 1000px) {
    .resizable-panel {
        width: 60%;
    }

    #front-banner {
        width: 70%;
        height: 70%;
        margin-left: 8%;
    }

    #front-silly {
        width: 15%;
        height: 15%;
    }
}

.img-right {
    float: right;
    width: inherit;
    max-width: 100%;
    height: auto;
}

#sunmoon {
    background-image: url("../img/sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

/* DARK MODE */ 

body[dark] #sidebar {
    background-color: rgb(28, 28, 28);
}

body[dark] .boxed {
    background-color: rgb(38, 38, 38);
}

body[dark] #sidebarlinks > b  {
    color: white;
}

body[dark] #maincontainer > * {
    color: white;
}

body[dark] #front-banner {
    content: url("../img/banner_dark.png");
}

body[dark] #sunmoon {
    background-image: url("../img/moon.png");
}