* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    
    background-image: url("../img/zyde_lighttile.png");
    background-repeat: repeat;
    margin: 0; 
}

body[dark] {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    
    background-image: url("../img/zyde_darktile.png");
    background-repeat: repeat;
}

#sidebarlinks {
    margin: 0;
    padding-left: 5px;
    list-style-type: none;
}

#sidebarlinks > li  {
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
}

#sidebarlinks > b  {
    display: block;
    padding: 5px 0px;
    font-size: large;
}

#page {
    margin-top: 32px;
    padding-bottom: 20px; 
}

#headertitle {
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    user-select: none;
    margin-bottom: 5px;
    margin-top: auto;
}

#topfront {
    display: block;
    margin: 0 auto;
}

#front-banner {
    margin-left: 50px;
    height: 150px;
    width: auto;
}

#mainframe {
    margin: 0 auto;
    display: flex;
    text-align: center;
    min-height: 50%;
}

#sidebar {
    text-align: left;
    padding: 5px;
    width: 25%;
    background-color: whitesmoke;
    overflow: hidden;
}

#maincontainer {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    width: 75%;
}

#maincontainer > * {
    margin: 5px;
}

#maincontainer > p {
    padding-bottom: 5px;
}

#bottom {
    margin: auto;
}

#bottomcontainer {
    margin-top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.boxed {
    border: 1px solid black;
    box-shadow: black 3px 3px;
    margin: 5px;
    background-color: white;
}

.resizable-panel {
    max-width: 1000px; 
    width: 95%;        
    margin: 0 auto;    
}

/* fixes for big phones aka phablets or just tablets ing eneral */
@media screen and (max-width: 1000px) {
    
    #topfront {
        display: flex;           
        flex-direction: row;     
        align-items: center;    
        justify-content: center; 
    }

    #front-banner {
        width: 65%;       
        height: auto;     
        margin-left: 0;   
        margin-right: 10px; 
    }

    #front-silly {
        width: 15%;       
        height: auto;     
    }
}

/* PHONE fixes */
@media screen and (max-width: 700px) {
    
    #topfront {
        flex-direction: column; 
    }

    #front-banner {
        width: 100%;        
        margin-right: 0;    
        margin-bottom: 10px; 
    }

    #front-silly {
        width: 30%;         
        margin: 0 auto;     
    }

    #mainframe {
        flex-direction: column;
    }

    #sidebar, #maincontainer, #bottomcontainer {
        width: auto; 
        display: block;
        margin: 5px 0; 
    }

    #sidebarlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    #sidebarlinks > li, #sidebarlinks > b {
        margin: 5px 10px; 
        display: inline-block;
    }
    
    #sidebarlinks > b {
        display: none;
    }
    
    #bottomcontainer {
        display: flex;
        justify-content: flex-start; 
    }
}

.img-right {
    float: right;
    width: inherit;
    max-width: 100%;
    height: auto;
}

#sunmoon {
    background-image: url("../img/sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

/* DARK MODE */ 

body[dark] #sidebar {
    background-color: rgb(28, 28, 28);
}

body[dark] .boxed {
    background-color: rgb(38, 38, 38);
}

body[dark] #sidebarlinks > b  {
    color: white;
}

body[dark] #maincontainer > * {
    color: white;
}

body[dark] #front-banner {
    content: url("../img/banner_dark.png");
}

body[dark] #sunmoon {
    background-image: url("../img/moon.png");
}
