# This file was taken from isabella's repo :P (https://github.com/kawapure/kawapure.github.io)
# Ignore for GitHub sites rehost.

DirectoryIndex index.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]